In [23]:
#Import Libraries
import pandas as pd
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

In [24]:
#Loading the Data
covid = pd.read_csv(r"E:\Datasets\Covid\Covid daily data.csv")
gdp_per_capita = pd.read_csv(r"E:\Datasets\GDP\GDP Per Capita.csv")

In [32]:
#Basic overview of the Data

covid.info()
gdp_per_capita.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 184787 entries, 0 to 184786
Data columns (total 7 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   date                     184787 non-null  object
 1   country                  184787 non-null  object
 2   cumulative_total_cases   184787 non-null  float64
 3   daily_new_cases          174329 non-null  float64
 4   active_cases             166747 non-null  float64
 5   cumulative_total_deaths  178227 non-null  float64
 6   daily_new_deaths         157850 non-null  float64
dtypes: float64(5), object(2)
memory usage: 9.9+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1014 entries, 0 to 1013
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country Name    1014 non-null   object
 1   Country Code    1014 non-null   object
 2   Indicator Name  1014 non-null   object
 3   Indicator Code  1014 non-null   object
 4   Year            1014 non-null   int64
 5   GDP per Capita  1014 non-null   float64
dtypes: float64(1), int64(1), object(4)
memory usage: 47.7+ KB

In [31]:
covid.head()
gdp_per_capita.head()

,date,country,cumulative_total_cases,daily_new_cases,active_cases,cumulative_total_deaths,daily_new_deaths
0,2020-2-15,Afghanistan,0.0,NaN,0.0,0.0,NaN
1,2020-2-16,Afghanistan,0.0,NaN,0.0,0.0,NaN
2,2020-2-17,Afghanistan,0.0,NaN,0.0,0.0,NaN
3,2020-2-18,Afghanistan,0.0,NaN,0.0,0.0,NaN
4,2020-2-19,Afghanistan,0.0,NaN,0.0,0.0,NaN

,Country Name,Country Code,Indicator Name,Indicator Code,Year,GDP per Capita
0,Aruba,ABW,GDP per capita (current US$),NY.GDP.PCAP.CD,2020,22855.932320
1,Aruba,ABW,GDP per capita (current US$),NY.GDP.PCAP.CD,2021,27200.061080
2,Aruba,ABW,GDP per capita (current US$),NY.GDP.PCAP.CD,2022,30559.533530
3,Aruba,ABW,GDP per capita (current US$),NY.GDP.PCAP.CD,2023,33984.790620
4,Africa Eastern and Southern,AFE,GDP per capita (current US$),NY.GDP.PCAP.CD,2020,1344.080962

In [30]:
covid.isnull().sum()
gdp_per_capita.isnull().sum()

date                           0
country                        0
cumulative_total_cases         0
daily_new_cases            10458
active_cases               18040
cumulative_total_deaths     6560
daily_new_deaths           26937
dtype: int64

Country Name      0
Country Code      0
Indicator Name    0
Indicator Code    0
Year              0
GDP per Capita    0
dtype: int64